# SQL Part 3 Studio

Let's practice your SQL querying skills! For each question, work along in the notebook, adding your query and answering the questions.

## The Dataset

We will be using the Goodbooks-10k dataset from the exercises in the prep work. Feel free reference your previous notebooks.

1. The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
1. You can access `BooksDB` in the LaunchCode server.

## Business Issue

You are an employee at a small independent bookstore and you have been tasked with increasing sales.  You decide to use `BooksDB` to find books and themes to highlight in fun promotions throughout each month and/or season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of promotions to run each month.  If you are looking for ideas, here are some resources on different holidays:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, National Pie Day (3/14), St. Patrick's Day (3/17), Season - Spring

### Event 1: Women's History Month

Highlight popular women writers based on ratings from `BooksDB` by writing a query that returns `tag_id`, the number of times each `tag_id` is used and the `tag_name`. Use the `GROUP BY` and `HAVING` clause to narrow your focus and try multiple keywords, such as "woman" and "female".

In [ ]:
-- Solution
SELECT TOP 10 t.tag_name, bt.tag_id, SUM(bt.count) AS total, b.author  
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.tags AS t 
ON bt.tag_id = t.tag_id
LEFT JOIN BooksDB.dbo.books AS b  
ON bt.goodreads_book_id = b.book_id 
GROUP BY t.tag_name, bt.tag_id
HAVING t.tag_name LIKE '%female%'
ORDER BY total DESC

### Event 2: Choose another event from March/Spring

Write a query to return authors, titles, ratings, and `tag_id` that you would want to promote during your chosen event.

In [ ]:
-- Solution
SELECT TOP 10 t.tag_name, bt.tag_id, SUM(bt.count) AS total, b.title, b.authors, b.average_rating
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.tags AS t 
ON bt.tag_id = t.tag_id
RIGHT JOIN BooksDB.dbo.books AS b  
ON bt.goodreads_book_id = b.book_id 
GROUP BY t.tag_name, bt.tag_id, b.title, b.authors, b.average_rating
HAVING t.tag_name LIKE 'spring%'
ORDER BY total DESC

/*
I pulled the information on tags from book_tags and tags, using sum(bt.count) to count the total number of tags for each book.
I also joined books to get the authors, titles, and average rating. I searched the tag_name 'spring%' to find books that were related to spring for a 
"springtime" themed March event. 
The inner join works for joining book_tags and tags because it is not necessary to return any results that might nto be shared. 
I used the right join for joining books in order to get all of the information that would be needed from books.

Record your thoughts about why you wrote the query the way you did.

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions:
1. Which month did you choose?
1. What 2 events / promotions are you highlighting?

In [ ]:
/* 
I chose October, and I will do a "fall" themed event and a "Halloween" themed event.

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in `BooksDB` to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a `HAVING` clause.

In [ ]:
-- Event 1 Query
SELECT b.title, b.authors, bt.tag_id, t.tag_name, b.average_rating
From BooksDB.dbo.books as b  
INNER JOIN BooksDB.dbo.book_tags as bt  
    ON b.book_id = bt.goodreads_book_id
INNER JOIN BooksDB.dbo.tags as t  
    ON bt.tag_id = t.tag_id
WHERE b.average_rating > 3 AND t.tag_name LIKE '%halloween%' OR t.tag_name LIKE '%spooky%'
ORDER BY b.average_rating DESC 

SELECT b.title, b.authors, count(bt.tag_id) as number_of_tags, t.tag_name, b.average_rating
From BooksDB.dbo.books as b  
INNER JOIN BooksDB.dbo.book_tags as bt  
    ON b.book_id = bt.goodreads_book_id
INNER JOIN BooksDB.dbo.tags as t  
    ON bt.tag_id = t.tag_id
GROUP BY bt.tag_id, b.title, b.authors, t.tag_name, b.average_rating
HAVING b.average_rating > 3 AND t.tag_name LIKE '%halloween%' OR t.tag_name LIKE '%spooky%'
ORDER BY b.average_rating desc

### Summarize Event 1

Double-click to edit.

Event 1 is about the highest rated books that are tagged "spooky" or "Halloween". I wanted books that had an average rating > 3 in the spooky/Halloween genre. The goal is to promote the best books in this category.

In [ ]:
-- Event 2 Query

### Summarize Event 2

Double-click to edit.