# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE Sep2025JunkDB.erin_joyce.planned_makes (
    pattern VARCHAR(500),
    yarn_weight VARCHAR(255),
    color  VARCHAR(255),
    amt_needed INTEGER,
    est_cost INTEGER, 
    completion_date DATE
);

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO Sep2025JunkDB.erin_joyce.planned_makes
VALUES 
    ('Snowflake scarf', 'Worsted', 'blue, white, gray', 300, 12, '2025/12/15'),
    ('Beanie', 'Bulky', 'red self-striping', 180, 14, '2025/11/24'),
    ('Baby blanket', 'DK', 'pink', 70, 5, '2025/02/14');

## Update a Row

Change different values in one of your three rows.

In [ ]:
UPDATE Sep2025JunkDB.erin_joyce.planned_makes
SET est_cost = 8
WHERE pattern = 'Baby blanket'

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM Sep2025JunkDB.erin_joyce.planned_makes
WHERE pattern = 'Beanie'

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE Sep2025JunkDB.erin_joyce.planned_makes